# Compulsary Task 1

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

In [ ]:
result = df.head(10)
print(result)

select the Limit and Rating colums of the first five observations

In [ ]:
df1 = df[["Limit", "Rating"]].head()
print(df1)

select the first five observations with 4 cards

In [ ]:
df_4cards = df[df["Cards"] == 4].head(5)
print(df_4cards)

sort the observations by 'Education'. Show users with the highest education value first

In [ ]:
sorted_df = df.sort_values('Education', ascending=False)
print(sorted_df)

selects all of the rows and columns in the dataframe

In [ ]:
df.iloc[:,:]

selects rows from index 5 (row 6) to the end and the columns from index 5 (column 6)to the end

In [ ]:
df.iloc[5:,5:]

select all rows from first column

In [ ]:
df.iloc[:,0]

selects the row from index 9 and all the columns

In [ ]:
df.iloc[9,:]

# Compulsary task 2

import Pandas

In [ ]:
import pandas as pd

Create a dataframe with balance.txt

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

calculate the average income based on ethincity

In [ ]:
income_ethincity = df.groupby('Ethnicity')['Income'].mean()
print(income_ethincity)

On average do married or single people have a higher balance

group the data by marital status and calculate the average for each group

In [ ]:
grouped = df.groupby("Married")["Balance"].mean()

detemine which has a higher average balance

In [ ]:
if grouped["Yes"] > grouped["No"]:
    print("Married people have a higher average balance.")
    print("Average balance: ", grouped["Yes"])
else:
    print("Single people have a higher average balance.")
    print("Average balance: ", grouped["No"])

using the max func get the highest income

In [ ]:
highest_income = df['Income'].max()
print(highest_income)

use the min func to get the lowest income

In [ ]:
lowest_income = df['Income'].min()
print(lowest_income)

use them sum function to get the total number of cards recorded in the dataset

In [ ]:
cards_recorded = df["Cards"].sum()
print(cards_recorded)

How many females do we have info for vs males

In [ ]:
gender_counts = df["Gender"].value_counts()
num_females = len(df[df['Gender'] == 'Female'])
num_males = len(df[df['Gender'] == 'Male'])
difference = num_females - num_males
print(gender_counts)
print("The difference between females and males is: ", difference)